/*css for main wrapper*/

.main_wrapper{
    
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 0.6fr 40%;
    justify-content: center;
    gap:30px;
}
/*css for profile picture container*/
.profile_img_container{
    width: 500px;
    height:500px;
}
/*css for content-container*/
/*css for heading container and tag*/
.heading_tag_container{
    
    display:flex;
    justify-content:flex-start;
}
.profile_img{
    pointer-events: none;
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:50%;
    object-position:5% 20%;
}
.heading_tag{
    font-size:5em;
    /*padding:10px;*/
    color:#FFD700;
    font-style: italic;
    font-family: "Bebas Neue";
    margin-bottom:0;
}
/*css for content-title and  content*/
.content-title{
    padding:10px;
    margin-bottom:0;
    margin-top:0;
    font-family:"Bebas Neue";
    font-size:2em;
    font-weight:normal;
    font-style:italic;
    color:#52e575
    
}
.content{
    color:azure;
    padding:10px;
    margin-top:0;
    font-size:1.3em;
    font-family:"Bebas Neue", sans-serif;}

#unorder-list-container{
    display:flex;
    width:auto;
    list-style-position: inside;
    justify-content: space-between;
    padding-left:0;
   
}

.list{
    list-style-type: none;
}

.link{
    border:2px solid black;
    display:flex;
    width:150px;
    height:150px;
    border-radius:50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size:1.3em;
    color:azure;
    background-color:#FFD700;
    font-family:"Bebas Neue", sans-serif;
}
.link:hover{
    background-color:#ffd9007b
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*css for fade-in animation*/
.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.fade-out{
    animation: fadeOut 1s ease-in-out;
   
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        color: rgb(249, 50, 223);
    }
    to {
        transform: translateX(0);
        color:black;
    }
}

@keyframes slideIn-2{
    from{
        transform:translateY(50%);
        color:violet
    }
    to{
        transform:translateX(0);
        color:black
    }
}

@keyframes glitter {
  0% { box-shadow: 0 0 5px rgb(0, 30, 255), 0 0 10px rgb(0, 213, 255); }
  50% { box-shadow: 0 0 10px rgb(0, 34, 255), 0 0 20px rgb(49, 205, 240); }
  100% { box-shadow: 0 0 5px rgb(0, 13, 253), 0 0 10px rgb(44, 153, 216); }
}

@keyframes glitter-online{
    0% { box-shadow: 0 0 5px rgb(35, 228, 25), 0 0 10px rgb(124, 230, 122); }
    50% { box-shadow: 0 0 10px rgb(17, 221, 20), 0 0 20px rgb(102, 232, 118); }
    100% { box-shadow: 0 0 5px rgb(39, 218, 19), 0 0 10px rgb(99, 225, 103); }
}

.glitter {
    animation: glitter 1s infinite;   
}
.glitter-online {
    animation: glitter-online 1s infinite;
    background-color: #09ef3f;}

   

.slide-in {
    animation: slideIn 0.5s ease-in-out

}

.slide-in-2{
    animation: slideIn-2 0.5s ease-in-out;}


/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 884px){
    .main_wrapper{
    display:grid;
    grid-auto-flow:row;
    margin-top:3rem;
    grid-template-columns: none;
}

   .profile_img_container{
    width: 350px;
    height:350px;
    display:flex;
    justify-self: center;
}
   

   .heading_tag_container{
    display:flex;
    justify-content:flex-start;
} 
   .heading_tag{
    font-size:5em;
    padding:2rem;
   }

   .content-title{
    padding:2rem;
}  
   
    .content{
    color:azure;
    padding:2rem;
    margin-top:0;
    font-size:1em;
    font-family:"Bebas Neue", sans-serif;}
    

   .link{
    width:110px;
    height:110px; 
    font-size:1em;  
}

}