   
#info-container{ 
    display:grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin:30px;
    align-items: center;
    font-family:"Poppins";
    grid-template-columns: 0.7fr 13% 15% 30%;
}


#web-logo-container{
    
    display:flex;
    justify-content: center;
    background-image: url("icons/tricky_logo.png");
    background-position:12%;
    background-size:contain;
    background-repeat: no-repeat;
}
#web-logo{
    border:green 2px solid

}

#social-media-contact{
    display:grid;
    list-style: none;
    grid-auto-flow: column;
    justify-content: space-around;
    padding-left:0;
    margin-top:0;
    margin-bottom:0;
    
}

.heading-tag{
    margin-bottom:0;
    font-weight:200;
    justify-self: center;
    color:#52e575;
}




#phone-num,#mail-link{
    text-decoration: none;
    display:flex;
    color:azure;
    justify-self: center;
}

 #mail-link:hover{
    color:rgba(240, 255, 255, 0.475)
}



#combine-link-heading{
    padding:15px;
}

.fa-user{
   font-size:1.5em;
   color:azure;
}

.fa-user:hover{
    color:rgba(240, 255, 255, 0.475)
}



@media only screen and (min-width: 320px) and (max-width: 884px){
    #info-container{
    display:grid;
    grid-auto-flow: row;
    justify-content:space-around;
   
    margin:none;
    grid-template-columns:none;
    }

    #web-logo-container{
    justify-content: center;
    background-size: 15rem;
    background-position:center;
   
    height:100%;
}
}
